<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Guide Docs - Gestão de Orientação de PCC e TCC</title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                [Nome da Página]
                <small>[Descrição(Opcional)]</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <section class="content container-fluid">

            <!--------------------------
              | [O protótipo fica aqui] |
              -------------------------->

        </section>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>