<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Guide Docs - Gestão de Orientação de PCC e TCC</title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>
<body style="background: #d2d6de">
<div>
    <div>
        <section class="content container-fluid">
            <div class="" style="text-align: center; margin: 10px;">
                <img src="dist/img/Logo_da_Unitins.png" alt="Logo.png">
            </div>
            <div style="text-align: center; margin: 30px;">
                <h1 style="font-size: 48px;"><b>Guide</b> Docs</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Login</h3>
                            <p>Entrar no sistema</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-contact"></i>
                        </div>
                        <a href="/home" class="small-box-footer">
                            Clique para continuar! <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>FAQ</h3>
                            <p>Perguntas Frequêntes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-help"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Clique para continuar! <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                </div>
            </div>
d        </section>
    </div>
</div>
</body>
</html>